.content {
    display: flex;
  }
  .main_content{
    flex-grow: 3;
  }
  :root {
    --primary: #cd5360;
    --secondary: #286da8;
    --active-secondary: #cccccc;
    --background: #ffffff;
    --details-background: #ececec;
  }